body {
    align-items: center;
    background-image: url('../assets/fundo.jpeg');
    justify-content: center;
}

footer {
    color: white;
    font-style: italic;
    bottom: 0;
    text-align: center;
    position: absolute;
    width: 100%;
}

h1 {
    color: purple;
    font-size: 25pt;
    text-align: center;
}

h2 {
    color: darkblue;
    font-size: 17pt;
    text-align: center;
}

fieldset {
    background-color: salmon;
    text-align: center;
    width: 40%;
}

 .csvbox {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

.qtd_e_pessoa {
    margin-bottom: 50px;
}

.image-area {
    width: 100%;
    align-items: center;
    text-align: center;
}

.image {
    width: 150px;
    border-radius: 50%;
    /* align-self: center; */
    position: absolute;
    right: 0;
    margin-right: 40px;
}

  
.image-perfil {
    width: 150px;
    border-radius: 50%;
    align-self: center;
}